<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBbwZFVKef729Mf3CJEjrnC3oEoKgKNI3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>108235830096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexa.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagramswiftui-7179a</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramswiftui-7179a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108235830096:ios:bc8b55dc46e60d32087255</string>
</dict>
</plist>